.man-container
{
  display: flex;
  flex-direction: column;
    border: white solid 1px;
    border-radius: 0.8em;  
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 2px rgb(196, 191, 191);
   margin: 5px;
   width: 200px;
   overflow: hidden;
   position: relative;
}
.man-image-s{
  height: 250px;
}

.man-secondary-text-center-rank
{
  position: absolute;
  top: 203px;
  margin: 4px;
  font-size: 0.9rem;
  color:white;
  width: 130px;
  background-color:  #1d35578c;
}
.man-secondary-text-center
{
  position: absolute;
  top: 220px;
  margin: 4px;
  font-size: 0.9rem;
  color:  #1D3557;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.556);

}




.man-nav{
  display: flex;
  flex-direction: column;
  border-radius: 0.4em; 
  width: 22px;
  position: absolute;
  top: 5px;
  left: 169px;
  margin: 4px;
  font-size: 0.8em;
  color:white;
  background-color:  #1d3557c2;
  padding: 2px;
}


@media(max-width: 420px) {
  .man-container
  {
     width: 180px;

  }
  .man-image-s{
    height: 200px;
  }

  .man-nav{
    left: 149px;

  }
}