.next-event-item-container{
  border: white solid 1px;
  border-radius: 0.8em; 
  width: 25%; 
  min-width: 25%;
  background-color: green;
  box-shadow: 0 0 4px 2px rgb(196, 191, 191);
  margin: 10px;
  padding: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.next-event-primary-text {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  color: black;
}

.next-event-secondary-text {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  color: greenyellow;
}

.next-event-date-text {
  font-size: 1.5em;
  font-weight: 600;
  color: grey;
  flex:1;
}

.next-event-text-container {
  flex:3;
}