.ship-map-container{
  position: relative;
  width: 95%;
  height: 650px;
/*   background: url('map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: unset; */

  
}

.ship-map-primary-text {
  font-weight: 300;
  text-align: left;
}

.my-div-icon{
background-color: red;
width: 200px;
height: 200px;

}

.ship-icon {
  background-color: transparent;
  border: transparent 0 0;
}

.fa{
  background-color: rgb(105, 59, 165);
}

.leaflet-container {
  background: #ddd;
  outline: 0;
}

.ship-marker{
border: transparent;
}

.flag-icon{
  background-color: transparent;
  border: transparent 0 0;
}

.fa-city{
  color: blue;
}