.ship-map-container{
  position: relative;
  width: 95%;
  height: 650px;
}

.ship-map-primary-text {
  font-weight: 300;
  text-align: left;
}

.my-div-icon{
  background-color: red;
  width: 200px;
  height: 200px;
}

.marker-icon-D {
  background-color: transparent;
  border: transparent 0 0;
  color: green;
}

.marker-icon-Port {
  border: transparent 0 0;
}

.marker-icon-W {
  border: transparent 0 0;
  fill:green;
}

.leaflet-container {
  background: #ddd;
  outline: 0;
}

.ship-marker{
border: transparent;
}

.flag-icon{
  background-color: transparent;
  border: transparent 0 0;
}

.fa-city{
  color: blue;
}

@media(max-width: 420px) {
  .ship-map-container {
    width: 99%;
    height: 59vh;
  }
}