.ship-icon-container {
  display: flex;
  width: 80px;
  height: 40px;
  color:white;
  position: relative;
  border: 0 transparent;
  flex-direction: column;
  background-color: hotpink;
}

.ship-icon-image-s{
  width: 80px;
  height: 25px;
  image-rendering: pixelated;
}

.ship-icon-primary-text{
  margin: 2px 5px 2px 5px;
  font-size: 0.7em;
  color: white;
  background-color: rgba(0, 100, 0, 0.7);
  font-family: "Inter";
  text-align: center;
}