.app-container {
  width: 100%;
  height: 100%;
}


.item-container{
  border: white solid 1px;
  border-radius: 0.6em;  
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px 2px rgb(196, 191, 191);
  margin: 10px;
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.item-block-container{
  border: white solid 1px;
  border-radius: 0.3em;  
  background-color: #09244be0;
  padding: 10px;
  display: flex;
  overflow: hidden;
  margin: 8px;
}

.with-bg{
  background-image: url('./Assets/deco/bg/bg-texture.svg');
}

.primary-text {
  font-weight: 300;
  text-align: left;
}

.secondary-text {
  font-size: 0.9em;
  font-weight: 100;
  color: lightslategray;
  text-align: left;
}

.secondary-text-center {
  text-align: center;
}

.small-text {
  font-size: 0.7em;
  font-weight: 200;
  color: lightslategray;
  text-align: left;
}

.enter-ship-crew{
  width: 100%;
  height: 300%;
}

.ship-block{
  width: 100%;
}

.map-ship-block{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 780px;
}

.desk-block {
  display: flex;
  width: 100%;
  height: 97vh;

flex-direction: row;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.desk-container{
  display: flex;
  width: 48%;
  min-width: 400px;
  height: 98%;
  flex-direction: column;
 }

.desk-side-container{
  display: flex;
  width: 52%;
  min-width: 400px;
  flex-direction: column;
  height: 98%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
 }


.navbar-top{
  display: flex;
  width: 100%;
  background-color: var(--c9);
  box-shadow: 0 0 2px 2px rgb(14, 13, 13);

}

 @media(max-width: 420px) {
  .map-ship-block  {
    display: flex;
    flex-direction: column-reverse;
  }
  .bottom-container {
    display: flex;
    flex-direction: column;
    width: 96%;
  }
  .item-container{
    margin: 2px;
    padding: 2px;
  }

}


/* section 5 */

.parent-brown{

  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;

  background-color: brown;
  width: 200px;
  height: 200px;
  resize: both;
  overflow: auto;
}

.pink-section{
  background-color: pink;
}

.blue-section{
  background-color: lightblue;
}

.section-coral{
  background-color: coral;
}

.yellow-section{
  background-color: rgb(141, 132, 65);
}

.green-section{
  background-color: lightgreen;
}

/* 1<--->2<--->3<--->4 */
.header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-side {
  grid-column: 1 / 2;
}

.main {
  grid-column: 2 / 3;
}

.right-side {
  grid-column: 3 / 4;
}

.footer {
  grid-column: 1 / 4;
}
  