.app-Container {
  width: 100%;
}

.item-container{
  border: white solid 1px;
  border-radius: 0.8em;  
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 2px rgb(196, 191, 191);
  margin: 10px;
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.primary-text {
  font-weight: 300;
  text-align: left;
}

.secondary-text {
  font-size: 0.9em;
  font-weight: 100;
  color: lightslategray;
  text-align: left;
}

.small-text {
  font-size: 0.7em;
  font-weight: 200;
  color: lightslategray;
  text-align: left;
}

.secondary-text-center {
  font-size: 0.9em;
  font-weight: 100;
  color: lightslategray;
  text-align: center;
}

.map-ship-block{
  display: flex;
  flex-direction: row;
}

.bottom-container {
  display: flex;
  width: 100%;
background-color: chocolate;
border: 5px solid red;
flex-direction: row;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.desk-side-container{
  display: flex;
  width: 49%;
  min-width: 400px;
  flex-direction: column;
  background-color: rgb(126, 67, 121);
  height: 95vh;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border: 5px solid rgb(20, 156, 72);
 }