.desk-side-title{
  width: 97%;
  height: 30px;
  margin: 10px;
 }

 .man-title-container{ 
  width: 100%;
  display: flex;
  justify-content:left;
  background-image: url('../../Assets/deco/bg/bg-texture.svg'); }

/*  .man-side-title{
  margin: 20px;
   }

 .man-side-service{
   width: 96%;
 } */

.man-image-e{
  height: 308px;
  border: white solid 1px;
  border-radius: 0.3em;  
  overflow: hidden;

}

 .man-details{
   display: flex;
   flex-direction: column;
 }