
.desk-title-container{
  width: 100%;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  background-image: url('../../Assets/deco/bg/bg-texture.svg'); 
  background-color: var(--c9);
}

 .desk-title{
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 500;
  padding: 5px;

 }

 
 .text-sec{
color: var(--c8);

 }

 .desk-title-inv{
  background-color: var(--c8);
  box-sizing: border-box;
  font-size: 2rem;
  width: fit-content;
  font-weight: 700;
  padding: 10px;
  margin-right: 35px;
 }

 .block-container{
  display: flex;
  width: 100%;
  min-width: 600px;
  margin: 10px;
  height: 90vh;
 }



