.desk-container{
  display: flex;
  width: 95vh;
  min-width: 600px;
  margin: 20px;
  border: white solid 1px;
  border-radius: 0.8em;  
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 2px rgb(196, 191, 191);
  margin: 10px;
  padding: 20px;
}
