.desk-container{
  display: flex;
  width: 49%;
  min-width: 400px;
  height: 95vh;
  flex-direction: column;
  background-color: gold;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border: 5px solid rgb(37, 15, 73);
 }

 .desk-title{
  width: 94%;
  height: 30px;
  margin: 10px;
  box-sizing: border-box;
 }

 .block-container{
  display: flex;
  width: 100%;
  min-width: 600px;
  margin: 10px;
  height: 90vh;
 }



