.form-container {
  width: 20%;
  min-width: 300px;
}

.form-text {
  padding: 4px;
  margin: 4px;
  background-color: grey;
  color: white;
}

.valid,
.invalid {
  border: 0;
  color: white;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.valid {
  background-color: #ff7b0f;
  cursor: pointer;
}

.form-text {
  margin: 10 px;
  border: 0;
  border-radius: 0.2em;
  color: white;
  background-color: #529c35a4;
  cursor: pointer;
}