.stats-container{
height: 96%;
width: 100%;
}

.stats-block{
  width: 100%;
  height: 100%;
  display: grid;
  background-size: cover;
  background-position: center;
}

.stats-body {
  width: 100%;
  height: 100%;
  padding: 0px;

  overflow: auto;
}

.stats-header{
  height: 10vh;
}

.block-middle-section{
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  resize: both;
  overflow: auto;
  flex-direction: row;
  place-items: center;
  text-align: center;
}

.stats-heading-primary{
  margin-top: 80px;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  animation: SmoveInLeft 1s ease-out; 
}

.stats-heading-primary-sec{  
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  animation: SmoveInRight 1s ease-out;
  margin-bottom: 80px;
  color:  #f77f00;
}

.block-middle-section-unit{

  height: 80vh;
  width: 28%;
  font-size: 2rem;
  text-align: center;
  place-items: center;
  padding-left: 60px;
}

.block-middle-section-chart{
  padding-top: 20px;
  height: 70vh;
  width: 36%;
  text-align: center;
}

.block-middle-section-chartR{
  width: 35%;
}

.stats-navbar-container{
  width: 100%;
  margin-top: 60px;
}

.enter-stats-icon{
  height: 50px;
}

@keyframes SmoveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-110px);
  }
  80%{
    transform: translate(10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

  @keyframes SmoveInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translate(-10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}


@media(max-width: 420px) {
  .block-middle-section{
    flex-direction: column;
    padding: 0px;
  }

  .block-middle-section-unit{
    width: 90%;
    height: 80vh;
  }  

  .stats-container {
    flex-direction: column;
  }


}

